{% load staticfiles %}
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">


      {# when on server, use this..: #}
            <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.css"/>
            <link rel="stylesheet" href="//cdn.bootcss.com/jQuery-Validation-Engine/2.6.3/validationEngine.jquery.css"/>
            <link rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.10/css/jquery.dataTables.min.css"/>
            <script type="text/javascript" src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
            <script type="text/javascript" src="//cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
            <script type="text/javascript" src="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"></script>
            <script type="text/javascript" src="//cdn.bootcss.com/jQuery-Validation-Engine/2.6.4/jquery.validationEngine.min.js"></script>
            <script type="text/javascript" src="//cdn.bootcss.com/jQuery-Validation-Engine/2.6.4/languages/jquery.validationEngine-zh_CN.js"></script>
            <script type="text/javascript" src="//cdn.bootcss.com/datatables/1.10.10/js/jquery.dataTables.min.js"></script>

      {#  --  #}
    {# This is static file, only for self #}
{#        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>#}
{#        <link rel="stylesheet" href="{% static 'css/validationEngine.jquery.css' %}"/>#}
{#        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>#}
{#        <script type="text/javascript" src="{% static 'js/jquery.validationEngine.min.js' %}"></script>#}
{#        <script type="text/javascript" src="{% static 'js/jquery.validationEngine-zh_CN.js' %}"></script>#}
{#        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>#}
{#        <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}"/>#}
{#        <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>#}
    {#  --  #}
  </head>
    <title>{% block title %}{% endblock %}</title>
  <body>

    {% block content %}{% endblock %}
    {% block footer %}
    {% endblock %}
</body>
</html>
