{% extends "base.html" %}



{% block title%}
{{title}}
{% endblock %}
{% block content %}

{% include "header.html"%}




This is view grade

<table class="table table-hover table-bordered">

<tr>
  <td class="info">#</td>
  <td class="info">school</td>
  <td class="info">username</td>
  <td class="info">email</td>
  <td class="info">status</td>
  <td class="info">check</td>
</tr>

{% for one in userinfoList %}
<tr>
  {% if one.verify %}
    <td class="success">{{one.id}}</td>
    <td class="success">{{one.school}}</td>
    <td class="success"><a href="/userinfo/{{one.id}}">{{one.username}}</a></td>
    {% if one.email%}
      <td class="success">{{one.email}}</td>
      {% else %}
      <td class="success">None</td>
    {% endif %}
    <td class="success">{{one.verify}}</td>
    <td class="success"><a href='javascript:deleteUser({{ one.id }})'>delete</a></td>
  {% else %}
    <td class="danger">{{one.id}}</td>
    <td class="danger">{{one.school}}</td>
    <td class="danger"><a href="/userinfo/{{one.id}}">{{one.username}}</a></td>
    {% if one.email%}
      <td class="danger">{{one.email}}</td>
      {% else %}
      <td class="danger">None</td>
    {% endif %}
    <td class="danger">{{one.verify}}</td>
    <td class="danger"><a href='/userinfo/change/{{ one.id }}'>change</a>
                       <a href='javascript:deleteUser({{ one.id }})'>delete</a></td>
  {% endif %}

</tr>

{% endfor %}




</table>
<hr/>

<table class="table table-hover table-bordered">
<tr>
    <td class="info">#</td>
    <td class="info">学年</td>
    <td class="info">学期</td>
    <td class="info">课程编号</td>
    <td class="info">课程内容</td>
    <td class="info">课程类型</td>
    <td class="info">满学分</td>
    <td class="info">总评</td>
    <td class="info">补考</td>
    <td class="info">最终</td>
    <td class="info">学分</td>

</tr>


{% for one in gradeList %}
    <tr>
      {% if one.finalGrade > '60' or one.finalGrade >= '100'  %}
        <td class="success">{{forloop.counter}}</td>
        <td class="success">{{one.academisc}}</td>
        <td class="success">{{one.semester}}</td>
        <td class="success">{{one.number}}</td>
        <td class="success">{{one.courseName}}</td>
        <td class="success">{{one.courseType}}</td>
        <td class="success">{{one.credit}}</td>
        <td class="success">{{one.totalGrade}}</td>
        <td class="success">{{one.makeupGrade}}</td>
        <td class="success">{{one.finalGrade}}</td>
        <td class="success">{{one.gradePoint}}</td>

      {% else %}
        <td class="danger">{{forloop.counter}}</td>
        <td class="danger">{{one.academisc}}</td>
        <td class="danger">{{one.semester}}</td>
        <td class="danger">{{one.number}}</td>
        <td class="danger">{{one.courseName}}</td>
        <td class="danger">{{one.courseType}}</td>
        <td class="danger">{{one.credit}}</td>
        <td class="danger">{{one.totalGrade}}</td>
        <td class="danger">{{one.makeupGrade}}</td>
        <td class="danger">{{one.finalGrade}}</td>
        <td class="danger">{{one.gradePoint}}</td>
      {% endif %}

    </tr>

{% endfor %}


</table>


This is manage page for you to look grade
    <script>

    $(document).ready(function() {
        $.get("/userinfo/ajax_verify_full/", function (data, status) {})
    });

    function deleteUser(userinfoID)
    {
        $.get("/userinfo/delete/"+userinfoID, function (data, status) {});
        setTimeout("window.location.reload();",1000);
    }
    </script>
{% endblock %}